In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
# Read in the client demographics data
client_df = pd.read_csv(
    "https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/CLIENT_191102.tsv",      # relative python path to subdirectory
    sep='\t'           # Tab-separated value file.
    #quotechar="'",        # single quote allowed as quote character
    #dtype={"salary": int},             # Parse the salary column as an integer 
    ,usecols=['Client ID', 'Client Age at Entry', 'Client Gender', 'Client Primary Race','Client Ethnicity','Client Veteran Status']   # Only load the three columns specified.
    #parse_dates=['birth_date'],     # Intepret the birth_date column as a date
    #,skiprows=10        # Skip the first 10 rows of the file
 ,na_values=['**']       # Take any '.' or '??' values as NA
,header=0
)

client_df.head(10)
#client_total_rows = client_df.count
#print (client_total_rows)

,Client ID,Client Age at Entry,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,397941,60.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,130335,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,188933,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,168290,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,123122,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
5,363382,30.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
6,165730,51.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
7,291392,56.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
8,359808,60.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
9,385539,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)

In [6]:
client_df.columns=['ClientID', 'Age', 'Gender', 'Race','Ethnicity','VeteranStatus']

client_csv = client_df.to_csv (r'data\client.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
#client_df.head(10)

In [7]:
# Read in the disability data
disability_df = pd.read_csv(
    "https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/DISABILITY_ENTRY_191102.tsv",     # relative python path to subdirectory
    sep='\t'           # Tab-separated value file.
    #quotechar="'",        # single quote allowed as quote character
    #dtype={"salary": int},             # Parse the salary column as an integer 
    ,usecols=['Client ID', 'Disability Type (Entry)', 'Disability Start Date (Entry)', 'Disability Determination (Entry)']   # Only load the three columns specified.
    #parse_dates=['birth_date'],     # Intepret the birth_date column as a date
    #skiprows=10,         # Skip the first 10 rows of the file
    ,na_values=['**']       # Take any '.' or '??' values as NA
    ,header=0
)

disability_df.head(10)
#disability_total_rows = disability_df.count
#print (disability_total_rows)

,Client ID,Disability Determination (Entry),Disability Type (Entry),Disability Start Date (Entry)
0,397941,No (HUD),Alcohol Abuse (HUD),4/20/2015
1,397941,No (HUD),Both Alcohol and Drug Abuse (HUD),4/20/2015
2,397941,No (HUD),Chronic Health Condition (HUD),4/20/2015
3,397941,No (HUD),Developmental (HUD),4/20/2015
4,397941,No (HUD),Drug Abuse (HUD),4/20/2015
5,397941,No (HUD),HIV/AIDS (HUD),4/20/2015
6,397941,No (HUD),Physical (HUD),4/20/2015
7,397941,Yes (HUD),Mental Health Problem (HUD),4/20/2015
8,397941,Yes (HUD),Physical/Medical,4/20/2005
9,130335,No (HUD),Alcohol Abuse (HUD),6/13/2015

In [8]:
disability_df.columns=['ClientID', 'Determination', 'DisabilityType', 'StartDate']

disability_df.head(10)

   ClientID Determination                     DisabilityType  StartDate
0    397941      No (HUD)                Alcohol Abuse (HUD)  4/20/2015
1    397941      No (HUD)  Both Alcohol and Drug Abuse (HUD)  4/20/2015
2    397941      No (HUD)     Chronic Health Condition (HUD)  4/20/2015
3    397941      No (HUD)                Developmental (HUD)  4/20/2015
4    397941      No (HUD)                   Drug Abuse (HUD)  4/20/2015
5    397941      No (HUD)                     HIV/AIDS (HUD)  4/20/2015
6    397941      No (HUD)                     Physical (HUD)  4/20/2015
7    397941     Yes (HUD)        Mental Health Problem (HUD)  4/20/2015
8    397941     Yes (HUD)                   Physical/Medical  4/20/2005
9    130335      No (HUD)                Alcohol Abuse (HUD)  6/13/2015

In [9]:
disability_Yes_df = disability_df[disability_df['Determination'] == 'Yes (HUD)'].drop_duplicates()

disability_Yes_df.head(10)

    ClientID Determination                  DisabilityType   StartDate
7     397941     Yes (HUD)     Mental Health Problem (HUD)   4/20/2015
8     397941     Yes (HUD)                Physical/Medical   4/20/2005
22    130335     Yes (HUD)  Chronic Health Condition (HUD)   6/13/1996
23    130335     Yes (HUD)                Physical/Medical   6/13/2007
36    188933     Yes (HUD)                Drug Abuse (HUD)   3/28/2014
37    188933     Yes (HUD)     Mental Health Problem (HUD)   3/28/2014
38    188933     Yes (HUD)                  Physical (HUD)   3/28/2014
39    188933     Yes (HUD)                  Physical (HUD)  12/20/2014
40    188933     Yes (HUD)                  Physical (HUD)   8/15/2015
49    168290     Yes (HUD)  Chronic Health Condition (HUD)   10/6/2014

In [10]:
disability_csv = disability_Yes_df.to_csv (r'data\disability.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [19]:
disability_pivot_df1 = disability_Yes_df[['ClientID','Determination','DisabilityType']].drop_duplicates()

disability_pivot_df1

       ClientID Determination                  DisabilityType
7        397941     Yes (HUD)     Mental Health Problem (HUD)
8        397941     Yes (HUD)                Physical/Medical
22       130335     Yes (HUD)  Chronic Health Condition (HUD)
23       130335     Yes (HUD)                Physical/Medical
36       188933     Yes (HUD)                Drug Abuse (HUD)
...         ...           ...                             ...
40618    367285     Yes (HUD)     Mental Health Problem (HUD)
40866    199296     Yes (HUD)     Mental Health Problem (HUD)
40875    378312     Yes (HUD)                Physical/Medical
40909    379142     Yes (HUD)     Mental Health Problem (HUD)
41283    363078     Yes (HUD)                Physical/Medical

[1967 rows x 3 columns]

In [20]:
disability_pivot_df = disability_pivot_df1.pivot(index = 'ClientID', columns = 'DisabilityType', values = 'Determination')

disability_pivot_df

DisabilityType,Alcohol Abuse (HUD),Both Alcohol and Drug Abuse (HUD),Chronic Health Condition (HUD),Developmental (HUD),Drug Abuse (HUD),HIV/AIDS (HUD),Mental Health Problem (HUD),Other,Other: Learning,Physical (HUD),Physical/Medical,Vision Impaired
ClientID,,,,,,,,,,,,
1096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN
2024,NaN,NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN,NaN,NaN,NaN,NaN
2054,NaN,NaN,NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN,Yes (HUD),NaN,NaN
2142,NaN,Yes (HUD),NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN,Yes (HUD),Yes (HUD),NaN
2458,NaN,NaN,NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1003586,NaN,NaN,Yes (HUD),NaN,NaN,NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN
1003772,NaN,NaN,NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN,NaN,NaN,NaN
1004044,NaN,NaN,Yes (HUD),NaN,NaN,NaN,Yes (HUD),NaN,NaN,Yes (HUD),NaN,NaN
1004126,NaN,NaN,NaN,Yes (HUD),NaN,NaN,Yes (HUD),NaN,NaN,NaN,NaN,NaN
1004212,NaN,Yes (HUD),NaN,NaN,NaN,NaN,Yes (HUD),NaN,NaN,NaN,NaN,NaN

In [21]:
disability_pivot_csv = disability_pivot_df.to_csv (r'data\disability_pivot.csv', index = "ClientID", header=True) #Don't forget to add '.csv' at the end of the path

In [14]:

# Read in the SES data
ses_df = pd.read_csv(
    "https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/EE_UDES_191102.tsv",     # relative python path to subdirectory
    sep='\t'           # Tab-separated value file.
    #quotechar="'",        # single quote allowed as quote character
    #dtype={"salary": int},             # Parse the salary column as an integer 
    ,usecols=['Client ID', 'Client Location(4378)', 'Zip Code (of Last Permanent Address, if known)(1932)']   # Only load the three columns specified.
    #parse_dates=['birth_date'],     # Intepret the birth_date column as a date
    #skiprows=10,         # Skip the first 10 rows of the file
 ,na_values=['**','NaN']       # Take any '.' or '??' values as NA
    ,header=0
)

ses_df.head(10)
#ee_total_rows = ee_df.count
#print (ee_total_rows)


####
#  ,na_values=['**','NaN'] --Not working

,Client ID,Client Location(4378),"Zip Code (of Last Permanent Address, if known)(1932)"
0,397941,NC-502 Durham City and County CoC,27701
1,130335,NC-502 Durham City and County CoC,29033
2,188933,NC-502 Durham City and County CoC,27703
3,168290,NC-502 Durham City and County CoC,27603
4,123122,NC-502 Durham City and County CoC,27510
5,363382,NC-502 Durham City and County CoC,23847
6,165730,NC-502 Durham City and County CoC,27533
7,291392,NC-502 Durham City and County CoC,27701
8,359808,NC-502 Durham City and County CoC,NaN
9,385539,NC-502 Durham City and County CoC,27610

In [32]:
ses_df.columns=['ClientID', 'Location', 'ZipCode']

ses_df.head(10)

   ClientID                           Location ZipCode
0    397941  NC-502 Durham City and County CoC   27701
1    130335  NC-502 Durham City and County CoC   29033
2    188933  NC-502 Durham City and County CoC   27703
3    168290  NC-502 Durham City and County CoC   27603
4    123122  NC-502 Durham City and County CoC   27510
5    363382  NC-502 Durham City and County CoC   23847
6    165730  NC-502 Durham City and County CoC   27533
7    291392  NC-502 Durham City and County CoC   27701
8    359808  NC-502 Durham City and County CoC     NaN
9    385539  NC-502 Durham City and County CoC   27610

In [33]:
ses_csv = ses_df.to_csv (r'data\ses.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [34]:
# Read in the health insurance data
insurance_df = pd.read_csv(
    "https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/HEALTH_INS_ENTRY_191102.tsv",     # relative python path to subdirectory
    sep='\t'           # Tab-separated value file.
    #quotechar="'",        # single quote allowed as quote character
    #dtype={"salary": int},             # Parse the salary column as an integer 
    ,usecols=['Client ID', 'Covered (Entry)', 'Health Insurance Type (Entry)', 'Health Insurance Start Date (Entry)']   # Only load the three columns specified.
    #parse_dates=['birth_date'],     # Intepret the birth_date column as a date
    #skiprows=10,         # Skip the first 10 rows of the file
 ,na_values=['**']       # Take any '.' or '??' values as NA
    ,header=0
)

insurance_df.head(10)
#EE_total_rows = EE_df.count
#print (EE_total_rows)

,Client ID,Covered (Entry),Health Insurance Type (Entry),Health Insurance Start Date (Entry)
0,397941,No,Employer - Provided Health Insurance,4/20/2015
1,397941,No,Health Insurance obtained through COBRA,4/20/2015
2,397941,No,Indian Health Services Program,6/9/2015
3,397941,No,MEDICAID,4/20/2014
4,397941,No,MEDICARE,4/20/2015
5,397941,No,Other,6/9/2015
6,397941,No,Private Pay Health Insurance,4/20/2015
7,397941,No,State Children's Health Insurance Program,4/20/2015
8,397941,No,State Health Insurance for Adults,4/20/2015
9,397941,No,Veteran's Administration (VA) Medical Services,4/20/2015

In [35]:
insurance_df.columns=['ClientID', 'Covered', 'InsuranceType','StartDate']

insurance_df.head(10)

   ClientID Covered                                   InsuranceType  StartDate
0    397941      No            Employer - Provided Health Insurance  4/20/2015
1    397941      No         Health Insurance obtained through COBRA  4/20/2015
2    397941      No                  Indian Health Services Program   6/9/2015
3    397941      No                                        MEDICAID  4/20/2014
4    397941      No                                        MEDICARE  4/20/2015
5    397941      No                                           Other   6/9/2015
6    397941      No                    Private Pay Health Insurance  4/20/2015
7    397941      No       State Children's Health Insurance Program  4/20/2015
8    397941      No               State Health Insurance for Adults  4/20/2015
9    397941      No  Veteran's Administration (VA) Medical Services  4/20/2015

In [36]:
insurance_csv = insurance_df.to_csv (r'data\insurance.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [37]:
#Get master file

master_df = client_df.join(ses_df, lsuffix='_demo',rsuffix='_ses').join(insurance_df, rsuffix='_ins').join(disability_pivot_df, rsuffix='_dis')
#how to reduce to columns of interest???
#usecols=['Client ID', 'Covered (Entry)', 'Health Insurance Type (Entry)', 'Health Insurance Start Date (Entry)']    


#pd.merge(client_df, ses_df, insurance_df, how='left', on='ClientID')
master_df.head(10)


##Contains duplicates

,ClientID_demo,Age,Gender,Race,Ethnicity,VeteranStatus,ClientID_ses,Location,ZipCode,ClientID,...,Chronic Health Condition (HUD),Developmental (HUD),Drug Abuse (HUD),HIV/AIDS (HUD),Mental Health Problem (HUD),Other,Other: Learning,Physical (HUD),Physical/Medical,Vision Impaired
0,397941,60.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),397941,NC-502 Durham City and County CoC,27701,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130335,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),130335,NC-502 Durham City and County CoC,29033,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,188933,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),188933,NC-502 Durham City and County CoC,27703,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,168290,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD),168290,NC-502 Durham City and County CoC,27603,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,123122,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),123122,NC-502 Durham City and County CoC,27510,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,363382,30.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),363382,NC-502 Durham City and County CoC,23847,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,165730,51.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),165730,NC-502 Durham City and County CoC,27533,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,291392,56.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD),291392,NC-502 Durham City and County CoC,27701,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,359808,60.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD),359808,NC-502 Durham City and County CoC,NaN,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,385539,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD),385539,NC-502 Durham City and County CoC,27610,397941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Declare a list that is to be converted into a column 
master_df.count_ = ['1'] 
  
# Using 'Address' as the column name 
# and equating it to the list 
master_df.[count_] = ['1']

SyntaxError: invalid syntax (<ipython-input-38-f05ac7e4a05a>, line 6)

In [39]:
master_csv = master_df.to_csv (r'data\master.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path